.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0.5rem 4.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #062335;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}
.container * {
  font-family: inherit;
}
.logo {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo_img {
  transform: scale(0.9, 1);
}
.logo_text {
  color: #06bdb1;
  font-size: 1.54em;
  font-weight: 600;
  margin-left: 1rem;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li {
  cursor: pointer;
  padding: 0.65rem 1.2rem;
  margin: 0 0.4rem;
  font-size: 1.08em;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #eee;
}
.list li.active,
.list li:hover {
  color: white;
}
.list li:last-of-type {
  border-radius: 0.77rem;
  background: #06bdb1;
  color: #eee;
  margin-right: 0;
  padding: 0.65rem 1.2rem;
}

.list li:last-of-type:hover {
  background-color: #09e9da;
  color: white;
}
.hamburger {
  border-radius: 0.77rem;
  background: #06bdb1;
  color: #eee;
  margin-right: 0;
  padding: 0.65rem 1rem;
  /* width: 40px;
  height: 40px; */
}

.hamburger:hover {
  background-color: #09e9da;
  color: white;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0.5rem 6.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0.5rem 6.5rem;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    padding: 0.5rem 4.9rem;
  }
  .list li {
    padding: 0.65rem 0.8rem;
  }
}
@media screen and (max-width: 860px) {
  .container {
    padding: 0.5rem 2.4rem
  }
}
@media screen and (max-width: 590px) {
  .container {
    padding: 0.5rem 3.2rem;
  }
  .list li {
    padding: 0.65rem 0.8rem;
  }
  .list li:last-of-type {
    padding: 0.65rem 1.2rem;
    margin-left: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 1.5rem 2.4rem;
  }
  .list li {
    padding: 0.65rem 0.7rem;
  }
  .list li:last-of-type {
    padding: 0.65rem 1rem;
    margin-left: 0.4rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0.5rem 1.6rem;
  }
}
@media screen and (max-width: 440px) {
  .list li:nth-of-type(2) {
    margin: 0;
  }
}
